<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<!--
    Describes parameters of the boot model
        template version
-->

<!-- boat  -->
<xacro:property name="span" value="1.6"/>

<!-- oar -->
<xacro:property name="inner" value="0.87"/>  <!-- length inclusive 0.1 meter handle -->
<xacro:property name="outer" value="2.00"/>

<!--  rower -->
<xacro:property name="weight" value="70"/>
<xacro:property name="lenght" value="1.80"/>
<!--
 lengths of links, musle power?
-->

<!-- Initial position of links that might change-->
     
<xacro:property name="starboard_rowlock" value="-0.4939"/>
<xacro:property name="port_rowlock" value="0.4939"/>
<xacro:property name="starboard_oar" value="-0.1458"/>
<xacro:property name="port_oar" value="0.1359"/>
<xacro:property name="hip2" value="-0.329"/>
<xacro:property name="back_lh" value="0.0110"/>

<xacro:property name="shoulder_l" value="-0.4209"/>
<xacro:property name="shoulder_psi_l" value="0.1234"/>
<xacro:property name="shoulder_theta_l" value="-0.3724"/>
<xacro:property name="elbow_xx_l" value="0.1150"/>
<xacro:property name="elbow_theta_l" value="0.1356"/>
<xacro:property name="elbow_left" value="0.2445"/>
<xacro:property name="handle_left_j3" value="0.0181"/>
<xacro:property name="handle_left_j2" value="-0.0254"/>
<xacro:property name="handle_left_j1" value="-0.0396"/>

<xacro:property name="shoulder_r" value="-0.4208"/>
<xacro:property name="shoulder_psi_r" value="0.1086"/>
<xacro:property name="shoulder_theta_r" value="-0.3731"/>
<xacro:property name="elbow_xx_r" value="0.0271"/>
<xacro:property name="elbow_theta_r" value="0.1332"/>
<xacro:property name="elbow_right" value="0.1927"/>
<xacro:property name="handle_right_j3" value="0.0001"/>
<xacro:property name="handle_right_j2" value="-0.0074"/>
<xacro:property name="handle_right_j1" value="-0.1168"/>

</robot>